<html>
<head>
<title>Japanese Vehicules.com</title>
<link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
<h1>JapaneseVehicules.com</h1>
<hr>
<h2> Sale and Export of Japanese Used Cars
</h2>
<h3>Quality Used Vehicles - Timely Shipping - Reliable Service </h3>
<a href="http://www.japanesevehicles.com/index.php?lang=en"><img height="200" src="http://www.japanesevehicles.com/images/Trust-Square-logo.png" /></a>
<p>
<h4>"Great Deal for the week"</h4>

<ol>

     <li>NISSAN NAVARA year = 2005, Distance = 158,000km, Engine = 2.5L, type: Pick-up, steering : Right Hand Drive, Seats : 5, Fuel : Diesel, Color: Black, Price: Interesting!!! to find out more about this car <a href="http://www.japanesevehicles.com/vehicle_details.php?vid=149300&lang=en">Click here</a> OR if you just want to take a look of the picture <a href="http://photos.japanesevehicles.com/photos/L/149300/149300-1.jpg">Click here</a>...</l>

     <li>NISSAN CARAVAN (URVAN) year = 2011, Distance = 19,000 km, Engine = 2.0L, type: Utility Van, steering : Right Hand Drive, Seats : 6, Fuel : Petrol, Color: Silver, Price: Interesting!!! to find out more about this car <a href="http://www.japanesevehicles.com/vehicle_details.php?vid=148117&lang=en">Click here</a> OR if you just want to take a look of the picture <a href="http://photos.japanesevehicles.com/photos/L/148117/148117-1.jpg">Click here</a>...</l>

     <li>NISSAN TERRANO (PATHFINDER) year = 2007, Distance = 178,000 km, Engine = 2.5L, type: SUV/ 4WD, steering : Right Hand Drive, Seats : 7, Fuel : Diesel, Color: Grey, Price: Interesting!!! to find out more about this car <a href="http://www.japanesevehicles.com/vehicle_details.php?vid=150996&lang=en">Click here</a> OR if you just want to take a look of the picture <a href="http://photos.japanesevehicles.com/photos/L/150996/150996-1.jpg">Click here</a>...</l>

     <li>NISSAN SAFARI (PATROL) year = 2004, Distance = 144,000 km, Engine = 3.0L, type: SUV/ 4WD, steering : Right Hand Drive, Seats : 7, Fuel : Diesel, Color: Wine red/beige, Price: Interesting!!! to find out more about this car <a href="http://www.japanesevehicles.com/vehicle_details.php?vid=151790&lang=en">Click here</a> OR if you just want to take a look of the picture <a href="http://photos.japanesevehicles.com/photos/L/151790/151790-1.jpg">Click here</a>...</l>

     <li>NISSAN X-TRAIL year = 2008, Distance = 97,000 km, Engine = 2.0L, type: SUV/ 4WD, steering : Right Hand Drive, Seats : 5, Fuel : Petrol, Color: Whitepearl, Price: Interesting!!! to find out more about this car <a href="http://www.japanesevehicles.com/vehicle_details.php?vid=151873&lang=en">Click here</a> OR if you just want to take a look of the picture <a href="http://photos.japanesevehicles.com/photos/L/151873/151873-1.jpg">Click here</a>...</l>
     </ol>
</p>
</div>
</body>
<br/><br/>

<div style="float:left"><br style="clear:left" /><br style="clear:left" /> 
</p>------------------------- Contact us Form ---------------------------</p>
<br/>
<form name="htmlform" method="post" action="html_form_send.php">
<table width="450px">
</tr>
<tr>
 <td valign="left">
  <label for="first_name">First Name *</label>
 </td>
 <td valign="left">
  <input  type="text" name="first_name" maxlength="50" size="30">
 </td>
</tr>
 
<tr>
 <td valign="left">
  <label for="last_name">Last Name *</label>
 </td>
 <td valign="left">
  <input  type="text" name="last_name" maxlength="50" size="30">
 </td>
</tr>
<tr>
 <td valign="left">
  <label for="email">Email Address *</label>
 </td>
 <td valign="left">
  <input  type="text" name="email" maxlength="80" size="30">
 </td>
 
</tr>
<tr>
 <td valign="left">
  <label for="telephone">Telephone Number</label>
 </td>
 <td valign="left">
  <input  type="text" name="telephone" maxlength="30" size="30">
 </td>
</tr>
<tr>
 <td valign="left">
  <label for="comments">Comments *</label>
 </td>
 <td valign="left">
  <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
 </td>
</tr>
<tr>
 <td colspan="2" style="text-align:center">

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit">   ( <a href="http://www.google.mg/imgres?um=1&client=firefox-a&sa=N&rls=org.mozilla:en-US:official&hl=fr&tbm=isch&tbnid=MBNcEn3ty3jblM:&imgrefurl=http://m.facebook.com/sedclerk&docid=ngJFH_BcabpD-M&itg=1&imgurl=http://profile.ak.fbcdn.net/hprofile-ak-frc1/s320x320/526829_10200573649800797_2069810000_n.jpg&w=239&h=320&ei=snRJUqKTJ6Wz4ASJu4CoBw&zoom=1&ved=1t:3588,r:1,s:0,i:82&iact=rc&page=1&tbnh=182&tbnw=145&start=0&ndsp=14&tx=280&ty=80">Thank YOU</a> )
 </td>
</tr>
</table>
</form>
</div>
<div style="float:right"><br style="clear:right" /><br style="clear:right" /> 
</p>---- Track counter ------</p>
<!-- Start counter code -->

<a href="http://coachfarm.net/" target="blank" >
<img alt="Website counter" hspace="0" vspace="0" border="0" src="http://fully-sick-counters.net/6965796-BFA6D9BC51C7EB14BC9E4A0B6EF59FE4/counter.img?theme=34&digits=7&siteId=8"/>
</a>
<noscript><br/><a href="http://coachfarm.net/">coachfarm.net</a><br>The following text will not be seen after you upload your website, please keep it in order to retain your counter functionality <br> <a href="http://pokerdiceslots.com/" target="_blank">poker dice slots</a></noscript>

<!-- End counter code -->

</html>