<h1>Editing message</h1>

<%= render 'form' %>

<font size="5pt"><b><%= link_to 'Show', @messages %></b></font> <font size="5pt">|</b></font>
<font size="5pt"><b><%= link_to 'Back', messages_path %></b></font>
